<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Number</key>
		<string>1234 1234 1234 1234</string>
		<key>Money</key>
		<string>-450,65</string>
		<key>Text</key>
		<string>Text card item 0</string>
		<key>Date</key>
		<string>21.05.2018</string>
	</dict>
	<dict>
		<key>Number</key>
		<string>4321 4321 4321 4321</string>
		<key>Money</key>
		<string>+100,00</string>
		<key>Text</key>
		<string>Text card item 1</string>
		<key>Date</key>
		<string>13.04.2016</string>
	</dict>
	<dict>
		<key>Number</key>
		<string>4567 4567 4567 4567</string>
		<key>Money</key>
		<string>+140,00</string>
		<key>Text</key>
		<string>Text card item 2</string>
		<key>Date</key>
		<string>23.12.2016</string>
	</dict>
	<dict>
		<key>Number</key>
		<string>7890 7890 7890 7890</string>
		<key>Money</key>
		<string>-120,76</string>
		<key>Text</key>
		<string>Text card item 3</string>
		<key>Date</key>
		<string>13.11.2017</string>
	</dict>
	<dict>
		<key>Number</key>
		<string>4567 4567 4567 4567</string>
		<key>Money</key>
		<string>-120,00</string>
		<key>Text</key>
		<string>Text card item 4</string>
		<key>Date</key>
		<string>15.05.2018</string>
	</dict>
	<dict>
		<key>Number</key>
		<string>1234 1234 1234 1234</string>
		<key>Money</key>
		<string>-25,96</string>
		<key>Text</key>
		<string>Text card item 5</string>
		<key>Date</key>
		<string>13.06.2018</string>
	</dict>
	<dict>
		<key>Number</key>
		<string>1234 1234 1234 1234</string>
		<key>Money</key>
		<string>+500,00</string>
		<key>Text</key>
		<string>Text card item 6</string>
		<key>Date</key>
		<string>22.05.2018</string>
	</dict>
</array>
</plist>
